{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "env": {
    "node": true,
    "es2021": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-await-in-loop": "off",
    "no-continue": "off",
    "no-nested-ternary": "off",
    "no-this-alias": "off",
    "semi": ["error", "always"],
    "semi-style": ["error", "last"],
    "no-mixed-spaces-and-tabs": "warn",
    "newline-before-return": "error"
  }
}
